<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body style="font-family:Arial; font-size:20px;">

    <header style= "font-size:40px";> <center>Web-App</center></header>


    <header0> <b>Consulta de Tabelas:</b> </header0>

        <div class = "menus"><a href="ivm"> IVMs </a></div>
        <div class = "menus"><a href="point_of_retail"> Pontos de Retalho </a></div>
        <div class = "menus"><a href="product"> Produtos </a></div>
        <div class = "menus"><a href="category"> Categorias </a></div>
        <div class = "menus"><a href="simple_category"> Categorias Simples </a></div>
        <div class = "menus"><a href="super_category"> Supercategorias </a></div>
        <div class = "menus"><a href="shelf"> Prateleiras </a></div>
        <div class = "menus"><a href="planogram"> Planograma </a></div>
        <div class = "menus"><a href="retailer"> Retalhista </a></div>
        <div class = "menus"><a href="replenishment_event"> Eventos de Reposição </a></div>
        <div class = "menus"><a href="installed_at"> Associação IVM-Ponto de Retalho </a></div>
        <div class = "menus"><a href="responsible_for"> Associação IVM-Retalhista-Categoria </a></div>
        <div class = "menus"><a href="has_category"> Associação Produto-Categoria </a></div>
        <div class = "menus"><a href="has_other"> Associação Supercategoria-Categoria </a></div>


    <header1> <b>Operações:</b> </header1>
        <div class = "menus"><a href="add_simple_category"> Adicionar Categoria Simples </a></div>
        <div class = "menus"><a href="add_super_category"> Adicionar Supercategoria </a></div>
        <div class = "menus"><a href="remove_category"> Remover Categoria </a></div>
        <div class = "menus"><a href="add_retailer"> Adicionar Retalhista </a></div>
        <div class = "menus"><a href="remove_retailer"> Remover Retalhista </a></div>
        <div class = "menus"><a href="select_ivm"> Consultar reposições de uma IVM </a></div>
        <div class = "menus"><a href="select_super_category"> Consultar Subcategorias de uma Categoria</a></div>

</body>
</html